In [1]:
import json
import geopandas as gpd
import numpy as np
from pandas_geojson import to_geojson
from pandas_geojson import write_geojson

In [2]:
bd_district = json.load(open('/home/shakibibneshameempolock/Downloads/bgd_adm_bbs_20201113_shp/bgd_admbnda_adm2_bbs_20201113.json', 'r'))

In [3]:
bd_district['features'][0]['properties']['ADM2_EN']

'Bagerhat'

In [4]:
for i in range(0,len(bd_district['features'])):
    k = bd_district['features'][i]['properties']['ADM2_EN']
    #print(k)

In [5]:
bd_district['features'][0]['properties']

{'Shape_Leng': 12.9298161737,
 'Shape_Area': 0.319708678277,
 'ADM2_EN': 'Bagerhat',
 'ADM2_PCODE': 'BD4001',
 'ADM2_REF': '',
 'ADM2ALT1EN': '',
 'ADM2ALT2EN': '',
 'ADM1_EN': 'Khulna',
 'ADM1_PCODE': 'BD40',
 'ADM0_EN': 'Bangladesh',
 'ADM0_PCODE': 'BD',
 'date': '2015-01-01T00:00:00.000Z',
 'validOn': '2020-11-13T00:00:00.000Z',
 'ValidTo': '1899-11-30T00:00:00.000Z'}

In [6]:
gdf = gpd.read_file('/home/shakibibneshameempolock/Downloads/bgd_adm_bbs_20201113_shp/bgd_admbnda_adm2_bbs_20201113.json')

In [7]:
l = ['Shape_Leng','Shape_Area','ADM2_PCODE','ADM2_REF','ADM2ALT1EN','ADM2ALT2EN','ADM1_EN','ADM1_PCODE','ADM0_EN','ADM0_PCODE','date','validOn','ValidTo']
gdf.drop(l, inplace=True, axis=1)

In [8]:
gdf.head()

     ADM2_EN                                           geometry
0   Bagerhat  MULTIPOLYGON (((89.84021 21.82784, 89.83750 21...
1  Bandarban  POLYGON ((92.61391 21.85191, 92.59671 21.86793...
2    Barguna  MULTIPOLYGON (((89.87968 22.07869, 89.88424 22...
3    Barisal  MULTIPOLYGON (((90.55435 22.59264, 90.55114 22...
4      Bhola  MULTIPOLYGON (((90.77172 21.85595, 90.78403 21...

In [9]:
gdf_processed = gpd.read_file('/home/shakibibneshameempolock/Documents/with Saikat Vai/BD_MAP_JSON/bangladesh_districts.geojson')

In [10]:
gdf_processed.head()

    district                                           geometry
0   Bagerhat  MULTIPOLYGON (((89.84021 21.82784, 89.85325 21...
1  Bandarban  POLYGON ((92.61391 21.85191, 92.61555 21.83217...
2    Barguna  MULTIPOLYGON (((89.89093 22.15827, 89.89122 22...
3   Barishal  MULTIPOLYGON (((90.55435 22.59264, 90.54678 22...
4      Bhola  MULTIPOLYGON (((90.77172 21.85595, 90.77116 21...

In [11]:
l_ok = np.sort([gdf_processed['district']])

In [12]:
l_ok

array([['Bagerhat', 'Bandarban', 'Barguna', 'Barishal', 'Bhola',
        'Bogura', 'Brahmanbaria', 'Chandpur', 'Chapai Nawabganj',
        'Chattogram', 'Chuadanga', 'Coxs Bazar', 'Cumilla', 'Dhaka',
        'Dinajpur', 'Faridpur', 'Feni', 'Gaibandha', 'Gazipur',
        'Gopalganj', 'Habiganj', 'Jamalpur', 'Jashore', 'Jhalokati',
        'Jhenaidah', 'Joypurhat', 'Khagrachhari', 'Khulna',
        'Kishoreganj', 'Kurigram', 'Kushtia', 'Lakshmipur',
        'Lalmonirhat', 'Madaripur', 'Magura', 'Manikganj', 'Maulvibazar',
        'Meherpur', 'Munshiganj', 'Mymensingh', 'Naogaon', 'Narail',
        'Narayanganj', 'Narsingdi', 'Natore', 'Netrakona', 'Nilphamari',
        'Noakhali', 'Pabna', 'Panchagarh', 'Patuakhali', 'Pirojpur',
        'Rajbari', 'Rajshahi', 'Rangamati', 'Rangpur', 'Satkhira',
        'Shariatpur', 'Sherpur', 'Sirajganj', 'Sunamganj', 'Sylhet',
        'Tangail', 'Thakurgaon']], dtype=object)

In [13]:
l = np.sort([gdf['ADM2_EN']])

In [14]:
l

array([['Bagerhat', 'Bandarban', 'Barguna', 'Barisal', 'Bhola', 'Bogra',
        'Brahamanbaria', 'Chandpur', 'Chittagong', 'Chuadanga',
        'Comilla', "Cox's Bazar", 'Dhaka', 'Dinajpur', 'Faridpur',
        'Feni', 'Gaibandha', 'Gazipur', 'Gopalganj', 'Habiganj',
        'Jamalpur', 'Jessore', 'Jhalokati', 'Jhenaidah', 'Joypurhat',
        'Khagrachhari', 'Khulna', 'Kishoreganj', 'Kurigram', 'Kushtia',
        'Lakshmipur', 'Lalmonirhat', 'Madaripur', 'Magura', 'Manikganj',
        'Maulvibazar', 'Meherpur', 'Munshiganj', 'Mymensingh', 'Naogaon',
        'Narail', 'Narayanganj', 'Narsingdi', 'Natore', 'Nawabganj',
        'Netrakona', 'Nilphamari', 'Noakhali', 'Pabna', 'Panchagarh',
        'Patuakhali', 'Pirojpur', 'Rajbari', 'Rajshahi', 'Rangamati',
        'Rangpur', 'Satkhira', 'Shariatpur', 'Sherpur', 'Sirajganj',
        'Sunamganj', 'Sylhet', 'Tangail', 'Thakurgaon']], dtype=object)

In [15]:
wrong = []

for i in range(0,64):
    if l[0][i] not in l_ok[0]:
        wrong.append(l[0][i])

In [16]:
print(wrong)

['Barisal', 'Bogra', 'Brahamanbaria', 'Chittagong', 'Comilla', "Cox's Bazar", 'Jessore', 'Nawabganj']

In [17]:
correct = []
for i in range(0,64):
    if l_ok[0][i] not in l[0]:
        correct.append(l_ok[0][i])

In [18]:
print(correct)

['Barishal', 'Bogura', 'Brahmanbaria', 'Chapai Nawabganj', 'Chattogram', 'Coxs Bazar', 'Cumilla', 'Jashore']

In [19]:
gdf['ADM2_EN'] = gdf['ADM2_EN'].replace(['Barisal', 'Bogra', 'Brahamanbaria', 'Chittagong', 'Comilla', "Cox's Bazar", 'Jessore', 'Nawabganj'],
                                        ['Barishal','Bogura','Brahmanbaria','Chattogram','Cumilla','Coxs Bazar','Jashore','Chapai Nawabganj'])

In [20]:
print (gdf['ADM2_EN']==gdf_processed['district'])

0     True
1     True
2     True
3     True
4     True
      ...
59    True
60    True
61    True
62    True
63    True
Length: 64, dtype: bool

In [21]:
x_ok = np.sort([gdf_processed['district']])
x = np.sort([gdf['ADM2_EN']])

In [22]:
check = []
for i in range(0,64):
    if x_ok[0][i] not in x[0]:
        check.append(l_ok[0][i])

In [23]:
check

[]

In [27]:
gdf.rename(columns = {'ADM2_EN':'district'}, inplace = True)

In [24]:
gdf.head()

     ADM2_EN                                           geometry
0   Bagerhat  MULTIPOLYGON (((89.84021 21.82784, 89.83750 21...
1  Bandarban  POLYGON ((92.61391 21.85191, 92.59671 21.86793...
2    Barguna  MULTIPOLYGON (((89.87968 22.07869, 89.88424 22...
3   Barishal  MULTIPOLYGON (((90.55435 22.59264, 90.55114 22...
4      Bhola  MULTIPOLYGON (((90.77172 21.85595, 90.78403 21...

In [25]:
gdf.crs

<Geographic 2D CRS: EPSG:4326>
Name: WGS 84
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: World.
- bounds: (-180.0, -90.0, 180.0, 90.0)
Datum: World Geodetic System 1984 ensemble
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

In [26]:
gdf = gdf.set_crs('WGS84', allow_override=True)

In [42]:
 g = json.load(open('/home/shakibibneshameempolock/Documents/with Saikat Vai/BD_MAP_JSON/bangladesh_districts.geojson','r'))

In [44]:
g['features'][0]['properties']

{'district': 'Bagerhat'}

In [45]:
bd_district['features'][0]['properties']

{'Shape_Leng': 12.9298161737,
 'Shape_Area': 0.319708678277,
 'ADM2_EN': 'Bagerhat',
 'ADM2_PCODE': 'BD4001',
 'ADM2_REF': '',
 'ADM2ALT1EN': '',
 'ADM2ALT2EN': '',
 'ADM1_EN': 'Khulna',
 'ADM1_PCODE': 'BD40',
 'ADM0_EN': 'Bangladesh',
 'ADM0_PCODE': 'BD',
 'date': '2015-01-01T00:00:00.000Z',
 'validOn': '2020-11-13T00:00:00.000Z',
 'ValidTo': '1899-11-30T00:00:00.000Z'}

In [51]:
g.keys()

dict_keys(['type', 'name', 'crs', 'features'])

In [52]:
g['crs']

{'type': 'name', 'properties': {'name': 'urn:ogc:def:crs:OGC:1.3:CRS84'}}

In [67]:
gdf.head()

    district                                           geometry
0   Bagerhat  MULTIPOLYGON (((89.84021 21.82784, 89.83750 21...
1  Bandarban  POLYGON ((92.61391 21.85191, 92.59671 21.86793...
2    Barguna  MULTIPOLYGON (((89.87968 22.07869, 89.88424 22...
3   Barishal  MULTIPOLYGON (((90.55435 22.59264, 90.55114 22...
4      Bhola  MULTIPOLYGON (((90.77172 21.85595, 90.78403 21...

In [28]:
gdf.to_file('bd_dist',driver="GeoJSON")